<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Automation Suite"
       parallel="classes"
       thread-count="1">

    <!-- ===================================================== -->
    <!-- LISTENERS -->
    <!-- ===================================================== -->

    <listeners>

        <!-- Retry Mechanism -->
        <listener class-name="com.cheq.application.listeners.RetryTransformer"/>

        <listener class-name="com.cheq.application.listeners.AllureLogListener"/>

        <listener class-name="com.cheq.application.listeners.DynamicThreadCountListener"/>

        <listener class-name="com.cheq.application.listeners.ParallelExecutionListener"/>

    </listeners>


    <!-- ===================================================== -->
    <!-- MAIN EXECUTION -->
    <!-- ===================================================== -->

    <test name="API Test Suite">

        <!-- ================================================= -->
        <!-- PACKAGE SCAN -->
        <!-- Automatically discovers all test classes -->
        <!-- ================================================= -->

        <packages>
            <!-- =============== CONTACT LIST =================== -->
            <package name="com.cheq.application.tests.contactlist.security"/>
            <package name="com.cheq.application.tests.contactlist.authentication"/>
            <package name="com.cheq.application.tests.contactlist.usermanagement"/>
            <package name="com.cheq.application.tests.contactlist.contactmanagement"/>

            <!-- =============== PLAID =================== -->
            <package name="com.cheq.application.tests.plaid.linktoken"/>
            <package name="com.cheq.application.tests.plaid.auth"/>
            <package name="com.cheq.application.tests.plaid.transactions"/>
        </packages>

    </test>

</suite>